<section class="container mt-5">
  <div class=" d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-3 mb-4"><i class="fas fa-exclamation-triangle"></i></h1>
    <h2 style="letter-spacing: 2px;">Something Went Wrong</h2>
    <h2 style="letter-spacing: 2px;">Please Try Again Later.</h2>
  </div>
</section>